<!DOCTYPE html>
<html>
<head>
  <title>Instapix</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  	<header class="clearfix">
  		<h1>Photo Search <span>Using Instagram API <i class="fa fa-heart" style="color: #c0392b;"></i></span></h1>
  	</header>
  	<div class="main">

  		<%= yield %>

  	</div><!-- /main -->
  </div><!-- /container -->
<%= javascript_include_tag 'application'%>
<%= javascript_include_tag 'grid'%>
<%= javascript_include_tag 'modernizr.custom'%>

</script>
<script type="text/javascript">
	$(document).ready(function(){
		Grid.init();
		$('#centerButton').on('click', 'button#loadmore', function(event){
			event.preventDefault();
			var nextid = $('button#loadmore').data('next-id');
			var tag = '<%= @tag %>';
      var endpoint = 'https://api.instagram.com/v1/tags/' + 'selfie' + '/media/recent?access_token=246422734.1677ed0.0c261b7ae36041fd94f0864cb4a0baaf';
			var $image = '';
			$.ajax({
				type: 'GET',
				dataType: 'jsonp',
				url: endpoint,
				success: function(data){
					$.each(data.data, function(key, value){
						var caption = (value['caption'] != null) ? value['caption']['text'] : '';
						var $image = $('<li><a href="'+ value['link'] +'" data-largesrc="'+ value['images']['standard_resolution']['url'] +'" data-title="@'+ value['user']['username'] +'" data-description="'+ caption +'">' +
							'<img src="'+ value['images']['low_resolution']['url'] +'" />' +
							'</a></li>').appendTo( $('#og-grid') );
						Grid.addItems( $image );
					});
					// store new 'next-id'
					$('button#loadmore').data('next-id', data.pagination.next_max_tag_id);
				},
				beforeSend: function(){
					$('button#loadmore').text('Loading').fadeOut('fast');
				},
				complete: function(){
					$('button#loadmore').text('Load more').fadeIn('fast');
				}
			});
			return false;
		});
	});
</script>
</body>
</html>
