<!DOCTYPE html>
<html>
<head>
  <title>Instapix</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  	<header class="clearfix">
  		<h1>Search Instagram's Recent Media<span>Using a #Hashtag</span></h1>
      <%= render "layouts/errors" %>
  	</header>
  		<%= yield %>
  </div><!-- /container -->
<%= javascript_include_tag 'application'%>

</body>
</html>
