<!DOCTYPE html>
<html>
<head>
  <title>Instapix</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  	<header class="clearfix">
  		<h1>Search Instagram's Media<span>Via #</span></h1>
  	</header>

  		<%= yield %>
  </div><!-- /container -->
<%= javascript_include_tag 'application'%>
<%= javascript_include_tag 'grid'%>
<%= javascript_include_tag 'modernizr.custom'%>

</body>
</html>
